<a class="logo" href="{{ site.Home.RelPermalink }}">
        {{ .Site.Params.logoText }}
</a>
<div class="nav-row">
        <nav class="main-nav" aria-label="{{ i18n "navMain" }}">
                <ul class="main-nav-ul">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main.ByWeight }}
                        <li><a class="navlink" href="{{ .URL }}"{{ if $currentPage.IsMenuCurrent "main" . }} aria-current="page"{{ end }}>{{ .Name }}</a></li>
                        {{ end }}
                </ul>
        </nav>
        {{ if .IsTranslated }}
        <nav aria-label="{{ i18n "navLanguage" }}">
                <ul class="lang-picker">
                        {{ range .AllTranslations }}
                        <li>
                                {{ if eq .Language.Lang site.Language.Lang }}
                                <span class="lang-btn" lang="{{ .Language.Lang }}" aria-current="true">
                                        <span aria-hidden="true">{{ .Site.Params.shortLabel }}</span>
                                        <span class="visually-hidden">{{ .Language.Label }}</span>
                                </span>
                                {{ else }}
                                <a class="lang-btn" href="{{ .RelPermalink }}" lang="{{ .Language.Lang }}" hreflang="{{ .Language.Lang }}" rel="alternate">
                                        <span aria-hidden="true">{{ .Site.Params.shortLabel }}</span>
                                        <span class="visually-hidden">{{ .Language.Label }}</span>
                                </a>
                                {{ end }}
                        </li>
                        {{ end }}
                </ul>
        </nav>
        {{ end }}
</div>
