<a class="logo" href="{{ site.Home.RelPermalink }}">
        {{ .Site.Params.logoText }}
</a>
<nav class="main-nav">
        <ul class="main-nav-ul">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main.ByWeight }}
                <li class="{{ if $currentPage.IsMenuCurrent "main" . }}navlink-active{{ end }}"><a class="navlink"
                                href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
        </ul>
        {{ if .IsTranslated }}
        <ul class="lang-picker">
                {{ range .Translations }}
                <li><a class="lang-btn" href="{{ .RelPermalink }}">{{ .Language.Label }}</a></li>
                {{ end }}
        </ul>
        {{ end }}
</nav>
