<a class="logo" href="{{ site.Home.RelPermalink }}">
        {{ .Site.Params.logoText }}
</a>
<div class="nav-row">
        <nav class="main-nav" aria-label="{{ i18n "navMain" }}">
                <ul class="main-nav-ul">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main.ByWeight }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}navlink-active{{ end }}"><a class="navlink"
                                        href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                </ul>
        </nav>
        {{ if .IsTranslated }}
        <nav aria-label="{{ i18n "navLanguage" }}">
                <ul class="lang-picker">
                        {{ range .Translations }}
                        <li><a class="lang-btn" href="{{ .RelPermalink }}">{{ .Language.Label }}</a></li>
                        {{ end }}
                </ul>
        </nav>
        {{ end }}
</div>
